export(bestmodelBAMspecies,     
    checkBAMestimates,      
    checkBAMspecies,         
    checkBAMspeciesmodel,   
    coefBAMspecies,          
    customBAMcorrections,   
    edr_fun,                 
    getBAMmodellist,        
    getBAMspecies,           
    getBAMspecieslist,      
    getBAMspeciestable,      
    getBAMversion,          
    globalBAMcorrections,    
    load_BAM_QPAD,          
    localBAMcorrections,     
    selectmodelBAMspecies,   
    sra_fun,                
    summaryBAMspecies,       
    unload_BAM_QPAD,        
    vcovBAMspecies)
exportClasses(summaryBAMspecies,
    customBAMcorrections,
    globalBAMcorrections,
    localBAMcorrections,
    BAMcorrections)
exportMethods(print,
    corrections2offset,
    corrections)
